* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --ff-primary: 'Inter', 'sans-serif';
  --text-color: #303030;

  --bg-color: #f9f9f9;

  --input-border-color: #e7e7e7;

  --primary-focus-color: #c0c0c0;
  --secondary-focus-color: #f9f9f9;

  --btn-primary-color: #3e4656;
  --btn-primary-color-hover: #273042;
  --btn-primary-text-color: #e7e7e7;

  --box-shadow-primary-color: #00000033;
}

body {
  font-size: 1.8rem;
  color: var(--text-color);
  background-color: var(--bg-color);
}

body * {
  font-family: var(--ff-primary);
}

.app-header{
  width: 100%;
  height: 64px;

  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.12) 1px 1px 4px 0px;

  position: fixed;
  top: 0;
}

#logo{  
  padding: 12px 16px 12px 24px;
}

#target-logo {
  max-height: 40px;
}

h1 {
  margin-bottom: 3.2rem;
}

h2 {
  margin-bottom: 2.0rem;
}

.app-container{
  margin: 64px auto;
  padding: 3.2rem 4.8rem;

  max-width: 720px;

  background-color: var(--bg-color);
}

.questions {
  padding-left: 2.0rem;
}

.question-container{
  line-height: 2.6rem;

  display: flex;
  flex-direction: column;
  gap: 16px;

  margin-bottom: 40px;
}

.input-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.input-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

input{
  height: 30px;  
  padding: 6px;

  border: 2px solid var(--input-border-color);
  border-radius: 4px;

  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s, border 0.2s ease-in-out;
  appearance: none;

  outline: none;
}

input:hover{
  border-color: var(--primary-focus-color);
  box-shadow: rgba(0, 0, 0, 0.12) 1px 1px 4px 0px inset;
}

input:focus{
  border: 2px solid var(--primary-focus-color);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.inputNumber{
  width: 70px;
}

.output-wrapper{  
  opacity: 1;
  display: block;
  text-align: center;
  transition: all .75s allow-discrete;
}

@starting-style {
  .output-wrapper {
    opacity: 0;
  }
}

.output-wrapper.hidden {
display: none;
opacity: 0;
}

.upper-alpha-parentheses-list {
  display: flex;
  flex-direction: column;
  gap: 2px;
  list-style-position: inside;
}

.upper-alpha-parentheses-list li{
  counter-increment: items;
}

.upper-alpha-parentheses-list li::marker{
  content: counter(items, upper-alpha)  ") ";
}

button{
  cursor:pointer;

  font-size: 1.6rem;
  font-weight: 500;
  line-height: 48px;

  height: 48px;

  min-height: 48px;
  min-width: 100px;
  padding: 0 24px;

  display: flex;

  align-items: center;
  justify-content: center;

  border-radius: 12px;
  border: 2px solid #00000000;

  background-color: var(--btn-primary-color);
  color: var(--btn-primary-text-color);

  outline: none;

  box-shadow: var(--box-shadow-primary-color) 1px 1px 4px 1px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

button:hover{
  background-color: var(--btn-primary-color-hover);
}

button:active{
  transform: scale(0.97);
}

button:focus {
  text-decoration: underline;
}